자료구조(데이터타입) 형태
- long data -- tidy data
- 각 속성을 컬럼으로 표현

In [2]:
import pandas as pd

In [5]:
kimchi = pd.read_csv('C:/Users/ZenBook/Desktop/냇물이/교육/code/data/kimchi_test.csv',encoding = 'cp949')
kimchi

     판매년도  판매월    제품   판매처     수량       판매금액
0    2013    1  총각김치  대형마트  27916  233968900
1    2013    1  총각김치   백화점  11971   99796735
2    2013    1  총각김치   편의점   1603    2264200
3    2013    2  총각김치  대형마트  23057  194593960
4    2013    2  총각김치   백화점  11678  103106940
..    ...  ...   ...   ...    ...        ...
427  2016   11   무김치   백화점  16818  213580462
428  2016   11   무김치   편의점   1849    2718207
429  2016   12   무김치  대형마트  40806  351917006
430  2016   12   무김치   백화점  11877  139476205
431  2016   12   무김치   편의점   1890    2767080

[432 rows x 6 columns]

In [6]:
df1 = kimchi.groupby(['판매년도','제품'])['수량'].sum()
df1

판매년도  제품
2013  무김치     420750
      열무김치    419045
      총각김치    483735
2014  무김치     447768
      열무김치    489359
      총각김치    551613
2015  무김치     540809
      열무김치    601661
      총각김치    742150
2016  무김치     733437
      열무김치    637934
      총각김치    634155
Name: 수량, dtype: int64

# unstack
- long --> wide

In [8]:
df2 = df1.unstack()  #long --> wide
df2

제품       무김치    열무김치    총각김치
판매년도
2013  420750  419045  483735
2014  447768  489359  551613
2015  540809  601661  742150
2016  733437  637934  634155

# stack
- wide --> long

In [10]:
df2.stack()  #wide --> long

판매년도  제품
2013  무김치     420750
      열무김치    419045
      총각김치    483735
2014  무김치     447768
      열무김치    489359
      총각김치    551613
2015  무김치     540809
      열무김치    601661
      총각김치    742150
2016  무김치     733437
      열무김치    637934
      총각김치    634155
dtype: int64

##### 멀티인덱스
- 인덱스나 컬럼이 여러 레벨로 표현
- 상위레벨 : 0, 하위레벨로 갈수록 숫자가 증가함

In [11]:
df1.unstack(level=0) #상위레벨 (2013)

판매년도    2013    2014    2015    2016
제품
무김치   420750  447768  540809  733437
열무김치  419045  489359  601661  637934
총각김치  483735  551613  742150  634155

In [12]:
df1.unstack(level=1)

제품       무김치    열무김치    총각김치
판매년도
2013  420750  419045  483735
2014  447768  489359  551613
2015  540809  601661  742150
2016  733437  637934  634155

# pivot_table
- 교차표 작성

- kimchi.pivot_table(index,columns,values,aggfunc)

- kimchi 데이터를 이용해 연도별, 제품별 판매금액의 총 합을 교차표로 작성

In [13]:
kimchi.pivot_table(index = '판매년도', columns = '제품', values = '판매금액', aggfunc = 'sum')

제품           무김치        열무김치        총각김치
판매년도
2013  3809133886  3416217894  4186789117
2014  4111403907  4392490590  5250364301
2015  5212738410  5859079408  7485159996
2016  6903506142  6627888927  6378374872