In [1]:
import time
import random
import numpy as np
import pandas as pd

In [2]:
# 데이터 확인하기

a = pd.read_excel("물고기표.xlsx")
a

     No1  No2     물고기    가격
0      2    6  가는꼬리쥐치  1631
1      1    4    가다랑어  2917
2      3    5     가라지  1203
3      3    4   가면놀래기  1751
4      1    4     가숭어  4483
..   ...  ...     ...   ...
746    2    4  흰배환도상어  2116
747    2    4    흰붕장어  7953
748    1    3   흰점꺼끌복  6207
749    2    4    히메성대  9362
750    3    6     히메치  1074

[751 rows x 4 columns]

In [3]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 751 entries, 0 to 750
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   No1     751 non-null    int64
 1   No2     751 non-null    int64
 2   물고기     751 non-null    object
 3   가격      751 non-null    int64
dtypes: int64(3), object(1)
memory usage: 23.6+ KB

In [4]:
a.describe()

              No1         No2           가격
count  751.000000  751.000000   751.000000
mean     1.972037    4.516644  5384.980027
std      0.795330    1.107274  2610.049134
min      1.000000    3.000000  1010.000000
25%      1.000000    4.000000  3047.000000
50%      2.000000    5.000000  5311.000000
75%      3.000000    5.000000  7672.000000
max      3.000000    6.000000  9990.000000

In [2]:
# 낚시터 구현하기

def game_fishing_center():
    print("자~ 신중하게 낚시를 시작합니다!!!")
    fishing = pd.read_excel("물고기표.xlsx")
    return fishing

print(game_fishing_center())

자~ 신중하게 낚시를 시작합니다!!!
     No1  No2     물고기    가격
0      2    6  가는꼬리쥐치  1631
1      1    4    가다랑어  2917
2      3    5     가라지  1203
3      3    4   가면놀래기  1751
4      1    4     가숭어  4483
..   ...  ...     ...   ...
746    2    4  흰배환도상어  2116
747    2    4    흰붕장어  7953
748    1    3   흰점꺼끌복  6207
749    2    4    히메성대  9362
750    3    6     히메치  1074

[751 rows x 4 columns]

In [4]:
def game_fishing_center():
    print("자~ 신중하게 낚시를 시작합니다!!!")
    fishing = pd.read_excel("물고기표.xlsx")
    choose_fish = np.array(fishing).reshape(-1, 4) # 행 전부다, 열 4
    return choose_fish
    
print(game_fishing_center())

자~ 신중하게 낚시를 시작합니다!!!
[[2 6 '가는꼬리쥐치' 1631]
 [1 4 '가다랑어' 2917]
 [3 5 '가라지' 1203]
 ...
 [1 3 '흰점꺼끌복' 6207]
 [2 4 '히메성대' 9362]
 [3 6 '히메치' 1074]]

In [5]:
def game_fishing_center():
    print("자~ 신중하게 낚시를 시작합니다!!!")
    fishing = pd.read_excel("물고기표.xlsx")
    
    choose_fish = np.array(fishing).reshape(-1, 4)
    choose_fish_num = random.randint(0,len(fishing)) # 0부터 전체 행까지 반복
    choose_fish_waiting_num = random.randint(choose_fish[choose_fish_num][0], choose_fish[choose_fish_num][1])
    return choose_fish_waiting_num
    
print(game_fishing_center())

자~ 신중하게 낚시를 시작합니다!!!
4

In [7]:
def game_fishing_center():
    print("자~ 신중하게 낚시를 시작합니다!!!")
    fishing = pd.read_excel("물고기표.xlsx")
    
    choose_fish = np.array(fishing).reshape(-1, 4)
    choose_fish_num = random.randint(0,len(fishing)) # 0부터 전체 행까지 반복
    choose_fish_waiting_num = random.randint(choose_fish[choose_fish_num][0], choose_fish[choose_fish_num][1])
    
    time.sleep(choose_fish_waiting_num) # 대기시간 추가
    
    print("잡았다!!!!")
    print("[٩(๑•̀o•́๑)و]{} 님이 낚은 물고기는 {} 입니다".format("룰루", choose_fish[choose_fish_num][2]))
    
print(game_fishing_center())

자~ 신중하게 낚시를 시작합니다!!!
잡았다!!!!
[٩(๑•̀o•́๑)و]룰루 님이 낚은 물고기는 붉바리 입니다
None

## 1. 낚시터

In [74]:
# 1. 낚시터
def game_fishing_center(df, id, pw):
    print("자~ 신중하게 낚시를 시작합니다!!!")
    fishing = pd.read_excel("물고기표.xlsx")
    
    choose_fish = np.array(fishing).reshape(-1, 4)
    choose_fish_num = random.randint(0,len(fishing)) # 0부터 전체 행까지 반복
    choose_fish_waiting_num = random.randint(choose_fish[choose_fish_num][0], choose_fish[choose_fish_num][1])
    
    time.sleep(choose_fish_waiting_num) # 대기시간 추가
    
    print("잡았다!!!!")
    print("[٩(๑•̀o•́๑)و]{} 님이 낚은 물고기는 {} 입니다".format(id, choose_fish[choose_fish_num][2])) # ***
    
    # DB 저장/ 엑셀 저장
    df.loc[len(df)]  = [id, pw, choose_fish[choose_fish_num][2], 1, choose_fish[choose_fish_num][-1], "미판매"]
    df.to_excel("낚시게임.xlsx", sheet_name = "낚시게임", index = None)
    
game_fishing_center(df, 계정정보[0], 계정정보[1]) # ***

자~ 신중하게 낚시를 시작합니다!!!
잡았다!!!!
[٩(๑•̀o•́๑)و]jh 님이 낚은 물고기는 살색물멸속 입니다

In [9]:
# 상점 구현

def game_store(df,id):
    print("현재 판매하지 않은 물고기는 {}개 입니다.".format(len(df[(df['ID']==id) & df['현황'] == '미판매'])))
    미판매_index = df[(df['ID']==id) & df['현황'] == '미판매'].index
    return 미판매_index
    
df = pd.read_excel("낚시게임.xlsx")
id = "hoony"

game_store(df,id)

현재 판매하지 않은 물고기는 0개 입니다.

Int64Index([], dtype='int64')

## 2. 상점 구현

In [35]:
def game_store(df,id, pw):
    print("현재 판매하지 않은 물고기는 {}개 입니다.".format(len(df[(df['ID']==id) & df['현황'] == '미판매'])))
    미판매_index = df[(df['ID']==id) & df['현황'] == '미판매'].index
    
    if len(미판매_index) != 0: # 판매 안된게 있으면,
        for i in range(len(미판매_index)):
            print("{} 물고기를 판매했어요.".format(df[(df['ID']==id) & (df['현황'] == '미판매')]['물고기'][미판매_index[i]]))
        # DB 저장 / 엑셀 저장
            df.loc[미판매_index[i]] == [
                                        id, pw,
                                        df[(df['ID']==id) & (df['현황'] == '미판매')['물고기'][미판매_index[i]]], 
                                        df[(df['ID']==id) & (df['현황'] == '미판매')['수량'][미판매_index[i]]],
                                        df[(df['ID']==id) & (df['현황'] == '미판매')['가격'][미판매_index[i]]],
                                        "판매"]
    
    else: # 빈 경우
        print("다 팔았어요.")
    
    df.to_excel("낚시게임.xlsx", sheet_name = "낚시게임", index=None)
    
game_store(df, 계정정보[0], 계정정보[1])

현재 판매하지 않은 물고기는 0개 입니다.
다 팔았어요.

In [31]:
df

        ID     PW    물고기  수량    가격  현황
0    multi   1234    가물치   1  1000  판매
1    multi   1234    가물치   2  2000  판매
2    multi   1234     흑돔   1  7000  판매
3    multi   1234   가시고기   1  2000  판매
4    multi   1234    납자루   1  3000  판매
..     ...    ...    ...  ..   ...  ..
73  drwill  12345   빨간횟대   1  4448  판매
74  drwill  12345   굳가시복   1  8876  미판
75     트둥이      1  큰꼬치고기   1  6816  판매
76     트둥이      1    청돔속   1  9368  판매
77     트둥이      1   체장메기   1  5472  판매

[78 rows x 6 columns]

## 3. 게임 플레이 및 사용자 정보 구하기

In [72]:
def game_play(id, pw):
    while True:
        df = pd.read_excel("낚시게임.xlsx")
        돈 = df[ (df['ID']==id) & (df['현황']=="판매")]["가격"].sum()
        물고기_종류 = len(np.unique(df[df['ID']==id]['물고기']))  #***********
        잡은_물고기 = df[df['ID']==id]['수량'].sum()
        레벨 = len(df[(df['ID']==id) & (df['현황']=='판매')])
        
        if 레벨 <= 10:
            레벨 = "낚시 준비생"
        elif 레벨 <= 20:
            레벨 = "낚시 매니아"
        else:
            레벨 = "낚시 전문가"
            
        print("안녕하세요. {}님 / 레벨 : {} / 가지고 있는 금액: {} / 잡은 물고기 종류: {} / 잡은 물고기 수량: {}".
             format(id, 레벨, 돈, 물고기_종류, 잡은_물고기))
        
        선택 = int( input("낚시하기(1) / 상점이용(2) /  게임종료(3)"))
        
        if 선택 == 1: # 낚시터
            game_fishing_center(df, id, pw)
        elif 선택 == 2: # 상점
            game_store(df,id, pw)
        else:
            break
            
game_play(계정정보[0], 계정정보[1])

안녕하세요. jh님 / 레벨 : 낚시 준비생 / 가지고 있는 금액: 0 / 잡은 물고기 종류: 1 / 잡은 물고기 수량: 1
낚시하기(1) / 상점이용(2) /  게임종료(3)1
자~ 신중하게 낚시를 시작합니다!!!
잡았다!!!!
[٩(๑•̀o•́๑)و]jh 님이 낚은 물고기는 제비날치 입니다
안녕하세요. jh님 / 레벨 : 낚시 준비생 / 가지고 있는 금액: 0 / 잡은 물고기 종류: 2 / 잡은 물고기 수량: 2
낚시하기(1) / 상점이용(2) /  게임종료(3)2
현재 판매하지 않은 물고기는 0개 입니다.
다 팔았어요.
안녕하세요. jh님 / 레벨 : 낚시 준비생 / 가지고 있는 금액: 0 / 잡은 물고기 종류: 2 / 잡은 물고기 수량: 2
낚시하기(1) / 상점이용(2) /  게임종료(3)3

## 4. 계정정보

In [73]:
계정정보 = []
df = pd.read_excel("낚시게임.xlsx")
계정 = int(input("로그인(1) / 회원가입(2)"))
if 계정 == 1: # 로그인
    계정정보.append(input("ID 입력: "))
    계정정보.append(int(input("PW 입력: ")))
    
    if (계정정보[0] in df['ID'].unique()) and (계정정보[1] in df['PW'].unique()):
        print("게임을 시작합니다.")
        game_play(계정정보[0], 계정정보[1])
    else:
        print("ID 또는 패스워드가 없습니다.")
        pass
    
elif 계정 == 2: # 회원가입
    계정정보.append(input("ID 입력: "))
    계정정보.append(int(input("PW 입력: ")))
    
    print("[ヽ(°ᴥ°)ﾉ] 회원가입 완료")
    print("게임을 시작합니다.")
    game_play(계정정보[0], 계정정보[1])

로그인(1) / 회원가입(2)1
ID 입력: jh
PW 입력: 1234
게임을 시작합니다.
안녕하세요. jh님 / 레벨 : 낚시 준비생 / 가지고 있는 금액: 0 / 잡은 물고기 종류: 2 / 잡은 물고기 수량: 2
낚시하기(1) / 상점이용(2) /  게임종료(3)1
자~ 신중하게 낚시를 시작합니다!!!
잡았다!!!!
[٩(๑•̀o•́๑)و]jh 님이 낚은 물고기는 망상어 입니다
안녕하세요. jh님 / 레벨 : 낚시 준비생 / 가지고 있는 금액: 0 / 잡은 물고기 종류: 3 / 잡은 물고기 수량: 3
낚시하기(1) / 상점이용(2) /  게임종료(3)2
현재 판매하지 않은 물고기는 0개 입니다.
다 팔았어요.
안녕하세요. jh님 / 레벨 : 낚시 준비생 / 가지고 있는 금액: 0 / 잡은 물고기 종류: 3 / 잡은 물고기 수량: 3
낚시하기(1) / 상점이용(2) /  게임종료(3)3